

  h1 {
      color: red;
    border-style: dotted;
    font-family: "Courier New",monospace, sans-serif;
    font-size:50px;
   padding-left: 10px;
   padding-right: 10px;
  }

#visit{
  background-color: bisque;
  margin-left: 40px;
  margin-right: 80px;
} 

#rights{
  color: grey;
font-size: x-small;
}
  
.container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: red;
}

.search{
  font-family:fantasy;
  color:red;
  font-size:40px;
}

Body {
background-color:burlywood;
border-style: double;
  border-width: thick;
  border-color: brown;
  }



    img {
        border-radius:50%;
 border-color: brown;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
      
    }
iframe {
    border-radius:50%;
    border-color: brown;
    border-width: 5px;
    border-style: solid;
    padding: 10px;

}

.mill h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.finisher ol li {
color:grey;
}

  .main {
    background-color:burlywood;
      }

      .fade-in {
        animation: fadeIn ease 10s;
        -webkit-animation: fadeIn ease 10s;
        -moz-animation: fadeIn ease 10s;
        -o-animation: fadeIn ease 10s;
        -ms-animation: fadeIn ease 10s;
      }
      @keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
      }  
